#arrivals {
  width: 1139px;
  margin: 0 auto;
  height: 100vh;
}

#arrivals .title {
  margin: 0 auto;
  width: 40%;
  padding: 40px 0;

}

#arrivals .title h1 {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2b2c2d;
  text-align: center;
  letter-spacing: 3px;
}
.arrivals-gallery {
  display: flex;
  justify-content: space-between;
}

/* -----------------arrival 1------------------ */
.arrivals-gallery .arrival-1 {
  width: 360px;
  height: 420px;
  position: relative;
}
.arrivals-gallery .arrival-img1 {
  background: url(../img/women/w3.jpg) center/100% no-repeat;
  transition: all .5s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.arrivals-gallery .arrival-desc-1 {
  background: #E0E0E0;
  width: 100%;
  text-align: center;
  padding: 15px 20px;
  transition: all .5s ease-in-out;
  z-index: 1;
}
.arrivals-gallery .arrival-desc-1 h1{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #404142;
  padding-bottom: 10px;
}

.arrivals-gallery .arrival-desc-1 p{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404142;
  padding-bottom: 10px;
}

.arrivals-gallery .overlay-1 {
  width: 100%;
  background: #d6cdcb;
  text-align: center;
  padding: 44px 112px;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: -114px;
  left: 0;
  z-index: -1;
  opacity: 0;
  
}
.arrivals-gallery .overlay-1 a{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8a8c8e;
  padding-bottom: 10px;

}

.arrivals-gallery .arrival-img1:hover {
  transition: all .5s ease-in-out;
  background-size: 120%;
  cursor: pointer;
}

.arrivals-gallery .arrival-desc-1 {
  cursor: pointer;
}
.arrival-1 .arrival-desc-1:hover .arrival-img1 {
  background-size: 120%;
  transition: all .5s ease-in-out;
} 

.arrivals-gallery .arrival-1:hover .overlay-1 {
  opacity: 1;
  transition: all .5s ease-in-out;

}
.arrivals-gallery .arrival-1:hover .arrival-desc-1 {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.arrivals-gallery .arrival-1:hover .arrival-img1 {
  background-size: 120%;
  transition: all .5s ease-in-out;
}

/* -----------------arrival 2------------------ */
.arrivals-gallery .arrival-2 {
  width: 360px;
  height: 420px;
  position: relative;
}
.arrivals-gallery .arrival-img2 {
  background: url(../img/men/m6.jpg) center/100% no-repeat;
  transition: all .5s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.arrivals-gallery .arrival-desc-2 {
  background: #E0E0E0;
  width: 100%;
  text-align: center;
  padding: 15px 20px;
  transition: all .5s ease-in-out;
  z-index: 1;
}
.arrivals-gallery .arrival-desc-2 h1{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #404142;
  padding-bottom: 10px;
}

.arrivals-gallery .arrival-desc-2 p{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404142;
  padding-bottom: 10px;
}

.arrivals-gallery .overlay-2 {
  width: 100%;
  background: #d6cdcb;
  text-align: center;
  padding: 44px 112px;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: -114px;
  left: 0;
  z-index: -1;
  opacity: 0;
  
}
.arrivals-gallery .overlay-2 a{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8a8c8e;
  padding-bottom: 10px;
}

.arrivals-gallery .arrival-img2:hover {
  transition: all .5s ease-in-out;
  background-size: 120%;
  cursor: pointer;
}

.arrivals-gallery .arrival-desc-2 {
  cursor: pointer;
}
.arrival-2 .arrival-desc-2:hover .arrival-img2 {
  background-size: 120%;
  transition: all .5s ease-in-out;
} 

.arrivals-gallery .arrival-2:hover .overlay-2 {
  opacity: 1;
  transition: all .5s ease-in-out;

}
.arrivals-gallery .arrival-2:hover .arrival-desc-2 {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.arrivals-gallery .arrival-2:hover .arrival-img2 {
  background-size: 120%;
  transition: all .5s ease-in-out;
}

/* -----------------arrival 3------------------ */

.arrivals-gallery .arrival-3 {
  width: 360px;
  height: 420px;
  position: relative;
}
.arrivals-gallery .arrival-img3 {
  background: url(../img/women/w1.jpg) center/100% no-repeat;
  transition: all .5s ease-in-out;
  width: 100%;
  height: 100%;
  z-index: -5;
}

.arrivals-gallery .arrival-desc-3 {
  background: #E0E0E0;
  width: 100%;
  text-align: center;
  padding: 15px 20px;
  transition: all .5s ease-in-out;
  z-index: 1;
}
.arrivals-gallery .arrival-desc-3 h1{
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #404142;
  padding-bottom: 10px;
}

.arrivals-gallery .arrival-desc-3 p{
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #404142;
  padding-bottom: 10px;
}

.arrivals-gallery .overlay-3 {
  width: 100%;
  background: #d6cdcb;
  text-align: center;
  padding: 44px 112px;
  transition: all .5s ease-in-out;
  position: absolute;
  bottom: -114px;
  left: 0;
  z-index: -1;
  opacity: 0;
  
}
.arrivals-gallery .overlay-3 a{
  font-size: 18px;
  font-weight: 500;
  text-transform: uppercase;
  color: #8a8c8e;
  padding-bottom: 10px;
  opacity: 0;
}

.arrivals-gallery .arrival-img3:hover {
  transition: all .5s ease-in-out;
  background-size: 120%;
  cursor: pointer;
}

.arrivals-gallery .arrival-desc-3 {
  cursor: pointer;
}
.arrival-3 .arrival-desc-3:hover .arrival-img3 {
  background-size: 120%;
  transition: all .5s ease-in-out;
} 

.arrivals-gallery .arrival-3:hover .overlay-3 {
  opacity: 1;
  transition: all .5s ease-in-out;

}
.arrivals-gallery .arrival-3:hover .arrival-desc-3 {
  opacity: 0;
  transition: all .5s ease-in-out;
}

.arrivals-gallery .arrival-3:hover .arrival-img3 {
  background-size: 120%;
  transition: all .5s ease-in-out;
}
/* -----------------Animation in text overlay------------------*/
/* arrival 1 */
.arrivals-gallery .arrival-1:hover .overlay-1 a {
  animation: fadein 2s ease; 
  animation-duration: 1s;
  opacity: 1;
}


@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

/* arrival 2 */
.arrivals-gallery .arrival-2:hover .overlay-2 a {
  animation: fadein 2s ease; 
  animation-duration: 1s;
  opacity: 1;
}


@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}


/* arrival 3 */
.arrivals-gallery .arrival-3:hover .overlay-3 a {
  animation: fadein 2s ease; 
  animation-duration: 1s;
  opacity: 1;
}


@keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

@-webkit-keyframes fadein{
  0% { opacity:0; }
  66% { opacity:0; }
  100% { opacity:1; }
}

/* -----------------Promotions------------------ */
.promotions {
  margin-top: 145px;
}

.promotions .promotions-desc {
  margin: 0 auto;
  width: 70%;
  text-align: center;
  margin-bottom: 20px;
}

.promotions .promotions-desc h1 {
  font-size: 35px;
  font-weight: 500;
  text-transform: uppercase;
  color: #2b2c2d;
  text-align: center;
  letter-spacing: 3px;
}

.promotions .promotions-desc p {
  font-size: 24px;
}

.promotions .promotions-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.promotions .promotions-form .email-field {
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  padding: 10px 15px;
  font-size: 14px;
  border: 1px solid #8a8c8e;
  outline: none;
  margin: 10px 0;
  background: #E4E4E4;
  color: #8a8c8e;
}

.promotions .promotions-form .email-field:focus {
  border-color: #8a8c8e;
}

.promotions .promotions-form .submit-btn {
  font-family: 'Montserrat', sans-serif;
  width: 360px;
  padding: 10px 5px;
  font-size: 14px;
  border: 1px solid #8a8c8e;
  outline: none;
  background: #242323;
  color: #fff;
  text-align: center;
}

.promotions .promotions-form .submit-btn:hover {
  cursor: pointer;
}











