/* -----------------Navigation---------------- */
nav {
  width: 100%;
  background: #2b2c2d;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  padding: 10px 0;
  
}

.logo h1 {
  font-size: 30px;
  font-weight: 500;
  color: #fff;
  margin-right: 40px;
}

.logo a{
  color: #fff;
}

nav ul {
  display: flex;
  margin-right: -40px;
}
nav ul li {
  list-style: none;
  position: relative;
  padding: 0 30px;
}

ul li a {
  color: #8a8c8e;
  padding: 15px 14px;
  display: block;
  transition: all .3s ease-in-out;
  font-weight: 500;
}

ul li ul {
  display: none;
  position: absolute;
  background: #2b2c2d;
  text-align: center;
  left: 2px;
}

ul li a:hover {
  color: #fff;
}

ul li:hover ul {
  display: block;
}